<header>
    <!-- <div class="navheader"> -->
    <a routerLink=""><img class="logo" src="images/logo.svg" alt="Logo Jardim Real"></a>
    <div class="search-bar">
        <i class="ph ph-magnifying-glass"></i>
        <input type="text" placeholder="Buscar...">
    </div>
    <nav class="user">
        <ul class="navbar-list">
            @for (item of itensMenu; track item){
            <li class="navbar-item" routerLink="{{item.link}}" >
            <a>{{item.label}}</a>
            </li>
            }
            </ul>
    </nav>

    <!-- </div> -->

</header>
<router-outlet />
