<body>
    <main>
      <div class="container">
        <img src="assets/img/logo.svg" alt="Logo Jardim Real" class="logo" />
  
        <form class="login-form">
  
          <h1 class="title">Login</h1>
  
          <div class="sla">
  
            <div class="entradas">
              <div>
                <label for="email">Login</label><br>
                    <input class="input-simples" id="email" name="email" type="email" [(ngModel)]="login"
                    placeholder="Digite seu email"
                  />
              </div>
  
              <div>
               <label for="input-senha">Senha</label><br>
                    <input class="input-simples" id="input-senha" name="input-senha" type="password" 
                    [(ngModel)]="senha"
                    placeholder="Digite sua senha"
                    />

              </div>
            </div>
  
  
  
            <div class="actions">
              <button class="input-submeter" (disabled)="botaoDesabilitado" (click)="onBotaoClicado()">
                Entrar
                </button>
  
              <div class="links">
                <a routerLink="/esqueceusenha">Esqueceu a senha ?</a>
                <span>ou</span>
                <a routerLink="/cadastrousuario">Criar conta</a>
              </div>
  
            </div>
          </div>
        </form>
  
        <p id="mensagem"></p>
      </div>
    </main>
    <script src="/src/scripts/login.js"></script>
  </body>