<body>
    <main>
      <div class="container">
        <img src="images/logo.svg" alt="Logo Jardim Real" class="logo" />
  
         <div class="sla">
         <form [formGroup]= "formularioLogin" (ngSubmit)="onSubmit()" novalidate>
        
                   <label for="email">Login</label><br>
                    <input class="input-simples" id="email" name="email" formControlName="email" type="email"  placeholder="Digite seu email"/>
                    @if (formularioLogin.get('email')?.hasError('required')) {
                            <p>Usuário é obrigatório</p>
                            }                            

             
  
            
               <label for="senha">Senha</label><br>
                    <input class="senha" id="senha" name="senha" formControlName="senha" type="password"  placeholder="Digite sua senha"/>
                     @if (formularioLogin.get('senha')?.hasError('required')) {
                            <p>Digite a senha</p>
                            }  

              
                        
            
                <button id="btn" color="primary" type="submit"[disabled]="formularioLogin.invalid">Enviar</button>


           
            </form> 

              <div class="links">
                <a routerLink="/esqueceusenha">Esqueceu a senha ?</a>
                <span>ou</span>
                <a routerLink="/cadastrousuario">Criar conta</a>
              </div>
             </div>   

            
            </div>
          
  
       
      
    </main>
    
  </body>