<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recuperar Senha - Jardim Real</title>
    <link rel="stylesheet" href="/src/styles/global.css">
    <link rel="stylesheet" href="/src/styles/styleLogin.css">
</head>

<body>
    <main>
        <div class="container">
            <img src="images/logo.svg" alt="Logo Jardim Real" class="logo">
            <h1 class="title">Recuperar Senha</h1>
            <p class="subtitle">Digite seu email para receber instruções de redefinição.</p>
            <form class="login-form">

                <div class="sla">

                    <div class="entradas">

                        <label for=""></label>
                        <input type="email" placeholder="Email" required>

                    </div>

                    <div class="actions">
                        <button type="button" class="btn">Enviar</button>
                        <div class="links">
                            <a href="/src/components/login/indexLogin.html">Voltar ao login</a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </main>
</body>

</html>