<app-header></app-header>
<main>
    <div class="container">
 
        <img class="banner" src="assets/img/banner1.svg" alt="">

        <img class="banner" src="images/banner1.svg"  alt="">

        <nav>
            <div>
                <a href="#flores">
                    <img src="assets/img/icone-buque.svg" alt="">
                    <h2>Buque</h2>
                </a>
            </div>
            <div>
                <a href="#chocolates">
                    <img src="images/icone-chocolate.svg" alt="">
                    <h2>Chocolate</h2>
                </a>
            </div>
            <div>
                <a href="#cestas">
                    <img src="images/icone-cesta.svg" alt="">
                    <h2>Cestas</h2>
                </a>
            </div>
        </nav>
    </div> <!-- container -->

    <div class="anuncios">
        <section id="flores" class="produtos">
            <div class="fileira">
                <div class="bloco">
                    <img src="images/flor1.svg" alt="flor">
                    <p>rosa</p>
                    <p>350$</p>
                </div>
                <div class="bloco">
                    <img src="images/flor2.svg" alt="flor">
                    <p>rosa</p>
                    <p>350$</p>
                </div>
                <div class="bloco">
                    <img src="images/flor3.svg" alt="flor">
                    <p>rosa</p>
                    <p>350$</p>
                </div>
                <div class="bloco">
                    <img src="images/flor4.svg" alt="flor">
                    <p>rosa</p>
                    <p>350$</p>
                </div>
            </div>
            <div class="fileira">
                <div class="bloco">
                    <img src="images/flor5.svg" alt="flor">
                    <p>rosa</p>
                    <p>350$</p>
                </div>
                <div class="bloco">
                    <img src="images/flor6.svg" alt="flor">
                    <p>rosa</p>
                    <p>350$</p>
                </div>
                <div class="bloco">
                    <img src="images/flor7.svg" alt="flor">
                    <p>rosa</p>
                    <p>350$</p>
                </div>
                <div class="bloco">
                    <img src="images/flor8.svg" alt="flor">
                    <p>rosa</p>
                    <p>350$</p>
                </div>
            </div>

            <div class="fileira">
                <div class="bloco">
                    <img src="images/flor9.svg" alt="flor">
                    <p>rosa</p>
                    <p>350$</p>
                </div>
                <div class="bloco">
                    <img src="images/flor10.svg" alt="flor">
                    <p>rosa</p>
                    <p>350$</p>
                </div>
                <div class="bloco">
                    <img src="images/flor11.svg" alt="flor">
                    <p>rosa</p>
                    <p>350$</p>
                </div>
                <div class="bloco">
                    <img src="images/flor12.svg" alt="flor">
                    <p>rosa</p>
                    <p>350$</p>
                </div>
            </div>
        </section>

        <section id="infos" class="infos">
            <div class="fileirainfo">
                <div class="infobloco">
                    <img src="images/loc-removebg-preview.png" alt="Localização">
                    <h1>ENTREGA RÁPIDA</h1>
                    <p>Receba suas flores no mesmo dia, para surpreender com rápidez e praticidade.</p>
                </div>
                <div class="infobloco">
                    <img src="images/caminhao-removebg-preview.png" alt="Caminhão">
                    <h1>FRETE GRÁTIS</h1>
                    <p>Desgrute da comodidade de nossos benefícios exvlusivos para entregas no período
                        comercial.</p>
                </div>
                <div class="infobloco">
                    <img src="images/sifrao-removebg-preview.png" alt="Sifrão">
                    <h1>TUDO EM 3X SEM JUROS</h1>
                    <p>Facilidade de Pagamento: Aproveite a Comodidade e Flexibilidade de Nossas Opções.</p>
                </div>
            </div>
        </section>

        <section id="chocolates" class="produtos">
            <div class="fileira">
                <div class="bloco">
                    <img src="images/chocolate1.svg" alt="chocolate">
                    <p>rosa</p>
                    <p>350$</p>
                </div>
                <div class="bloco">
                    <img src="images/chocolate3.svg" alt="chocolate">
                    <p>rosa</p>
                    <p>350$</p>
                </div>
                <div class="bloco">
                    <img src="images/chocolate2.svg" alt="chocolate">
                    <p>rosa</p>
                    <p>350$</p>
                </div>
                <div class="bloco">
                    <img src="images/chocolate1.svg" alt="chocolate">
                    <p>rosa</p>
                    <p>350$</p>
                </div>
            </div>
            <div class="fileira">
                <div class="bloco">
                    <img src="images/chocolate2.svg" alt="chocolate">
                    <p>rosa</p>
                    <p>350$</p>
                </div>
                <div class="bloco">
                    <img src="images/chocolate3.svg" alt="chocolate">
                    <p>rosa</p>
                    <p>350$</p>
                </div>
                <div class="bloco">
                    <img src="images/chocolate2.svg" alt="chocolate">
                    <p>rosa</p>
                    <p>350$</p>
                </div>
                <div class="bloco">
                    <img src="images/chocolate3.svg" alt="chocolate">
                    <p>rosa</p>
                    <p>350$</p>
                </div>
            </div>
            <div class="fileira">
                <div class="bloco">
                    <img src="images/chocolate1.svg" alt="chocolate">
                    <p>rosa</p>
                    <p>350$</p>
                </div>
                <div class="bloco">
                    <img src="images/chocolate2.svg" alt="chocolate">
                    <p>rosa</p>
                    <p>350$</p>
                </div>
                <div class="bloco">
                    <img src="images/chocolate3.svg" alt="chocolate">
                    <p>rosa</p>
                    <p>350$</p>
                </div>
                <div class="bloco">
                    <img src="images/chocolate1.svg" alt="chocolate">
                    <p>rosa</p>
                    <p>350$</p>
                </div>
            </div>
        </section>

        <img src="images/banner2.png" alt="banner">

        <section id="cestas" class="produtos">
            <div class="fileira">
                <div class="bloco">
                    <img src="images/cesta1.svg" alt="cesta">
                    <p>cesta</p>
                    <p>350$</p>
                </div>
                <div class="bloco">
                    <img src="images/cesta2.svg" alt="cesta">
                    <p>cesta</p>
                    <p>350$</p>
                </div>
                <div class="bloco">
                    <img src="images/cesta3.svg" alt="cesta">
                    <p>cesta</p>
                    <p>350$</p>
                </div>
                <div class="bloco">
                    <img src="images/cesta4.svg" alt="cesta">
                    <p>cesta</p>
                    <p>350$</p>
                </div>
            </div>
            <div class="fileira">
                <div class="bloco">
                    <img src="images/cesta3.svg" alt="cesta">
                    <p>cesta</p>
                    <p>350$</p>
                </div>
                <div class="bloco">
                    <img src="images/cesta4.svg" alt="cesta">
                    <p>cesta</p>
                    <p>350$</p>
                </div>
                <div class="bloco">
                    <img src="images/cesta1.svg" alt="cesta">
                    <p>cesta</p>
                    <p>350$</p>
                </div>
                <div class="bloco">
                    <img src="images/cesta2.svg" alt="cesta">
                    <p>cesta</p>
                    <p>350$</p>
                </div>
            </div>
            <div class="fileira">
                <div class="bloco">
                    <img src="images/cesta2.svg" alt="cesta">
                    <p>cesta</p>
                    <p>350$</p>
                </div>
                <div class="bloco">
                    <img src="images/cesta3.svg" alt="cesta">
                    <p>cesta</p>
                    <p>350$</p>
                </div>
                <div class="bloco">
                    <img src="images/cesta4.svg" alt="cesta">
                    <p>cesta</p>
                    <p>350$</p>
                </div>
                <div class="bloco">
                    <img src="images/cesta1.svg" alt="cesta">
                    <p>cesta</p>
                    <p>350$</p>
                </div>
            </div>
        </section>
    </div>
</main>
<footer>
    <div class="container">
        <nav>
            <div>
                <a href="#flores">
                    <img src="assets/img/icone-buque.svg" alt="">
                    <h2>Buque</h2>
                </a>
            </div>
            <div>
                <a href="#chocolates">
                    <img src="assets/img/icone-chocolate.svg" alt="">
                    <h2>Chocolate</h2>
                </a>
            </div>
            <div>
                <a href="#cestas">
                    <img src="assets/img/icone-cesta.svg" alt="">
                    <h2>Cestas</h2>
                </a>
            </div>
        </nav>

        <div class="footer-infos">
            <img class="logo" src="assets/img/logo.svg" alt="logo">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Cum temporibus eaque obcaecati, optio autem consequatur
                fuga repellendus. Id, dignissimos dolorum? Neque sapiente,
                consequatur culpa vero obcaecati voluptatum ducimus ex mollitia?</p>
        </div>

        <p>&copy; 2025 | Black Beard | Site desenvolvido por <a href="https://github.com/lusvs"
                target="_blank">lusvs</a></p>
    </div>
</footer>
