<app-header></app-header>
<main>
    <div class="container">
        <img class="banner" src="assets/img/banner1.svg" " alt="">
        <nav>
            <div>
                <a href="#flores">
                    <img src="/src/assets/img/icone-buque.svg" alt="">
                    <h2>Buque</h2>
                </a>
            </div>
            <div>
                <a href="#chocolates">
                    <img src="/src/assets/img/icone-chocolate.svg" alt="">
                    <h2>Chocolate</h2>
                </a>
            </div>
            <div>
                <a href="#cestas">
                    <img src="/src/assets/img/icone-cesta.svg" alt="">
                    <h2>Cestas</h2>
                </a>
            </div>
        </nav>
    </div> <!-- container -->

    <div class="anuncios">
        <section id="flores" class="produtos">
            <div class="fileira">
                <div class="bloco">
                    <img src="src/assets/img/flor1.svg" alt="flor">
                    <p>rosa</p>
                    <p>350$</p>
                </div>
                <div class="bloco">
                    <img src="src/assets/img/flor2.svg" alt="flor">
                    <p>rosa</p>
                    <p>350$</p>
                </div>
                <div class="bloco">
                    <img src="src/assets/img/flor3.svg" alt="flor">
                    <p>rosa</p>
                    <p>350$</p>
                </div>
                <div class="bloco">
                    <img src="src/assets/img/flor4.svg" alt="flor">
                    <p>rosa</p>
                    <p>350$</p>
                </div>
            </div>
            <div class="fileira">
                <div class="bloco">
                    <img src="src/assets/img/flor5.svg" alt="flor">
                    <p>rosa</p>
                    <p>350$</p>
                </div>
                <div class="bloco">
                    <img src="src/assets/img/flor6.svg" alt="flor">
                    <p>rosa</p>
                    <p>350$</p>
                </div>
                <div class="bloco">
                    <img src="src/assets/img/flor7.svg" alt="flor">
                    <p>rosa</p>
                    <p>350$</p>
                </div>
                <div class="bloco">
                    <img src="src/assets/img/flor8.svg" alt="flor">
                    <p>rosa</p>
                    <p>350$</p>
                </div>
            </div>

            <div class="fileira">
                <div class="bloco">
                    <img src="src/assets/img/flor9.svg" alt="flor">
                    <p>rosa</p>
                    <p>350$</p>
                </div>
                <div class="bloco">
                    <img src="src/assets/img/flor10.svg" alt="flor">
                    <p>rosa</p>
                    <p>350$</p>
                </div>
                <div class="bloco">
                    <img src="src/assets/img/flor11.svg" alt="flor">
                    <p>rosa</p>
                    <p>350$</p>
                </div>
                <div class="bloco">
                    <img src="src/assets/img/flor12.svg" alt="flor">
                    <p>rosa</p>
                    <p>350$</p>
                </div>
            </div>
        </section>

        <section id="infos" class="infos">
            <div class="fileirainfo">
                <div class="infobloco">
                    <img src="src/assets/img/loc-removebg-preview.png" alt="Localização">
                    <h1>ENTREGA RÁPIDA</h1>
                    <p>Receba suas flores no mesmo dia, para surpreender com rápidez e praticidade.</p>
                </div>
                <div class="infobloco">
                    <img src="src/assets/img/caminhao-removebg-preview.png" alt="Caminhão">
                    <h1>FRETE GRÁTIS</h1>
                    <p>Desgrute da comodidade de nossos benefícios exvlusivos para entregas no período
                        comercial.</p>
                </div>
                <div class="infobloco">
                    <img src="src/assets/img/sifrao-removebg-preview.png" alt="Sifrão">
                    <h1>TUDO EM 3X SEM JUROS</h1>
                    <p>Facilidade de Pagamento: Aproveite a Comodidade e Flexibilidade de Nossas Opções.</p>
                </div>
            </div>
        </section>

        <section id="chocolates" class="produtos">
            <div class="fileira">
                <div class="bloco">
                    <img src="/src/assets/img/chocolate1.svg" alt="chocolate">
                    <p>rosa</p>
                    <p>350$</p>
                </div>
                <div class="bloco">
                    <img src="/src/assets/img/chocolate3.svg" alt="chocolate">
                    <p>rosa</p>
                    <p>350$</p>
                </div>
                <div class="bloco">
                    <img src="/src/assets/img/chocolate2.svg" alt="chocolate">
                    <p>rosa</p>
                    <p>350$</p>
                </div>
                <div class="bloco">
                    <img src="/src/assets/img/chocolate1.svg" alt="chocolate">
                    <p>rosa</p>
                    <p>350$</p>
                </div>
            </div>
            <div class="fileira">
                <div class="bloco">
                    <img src="/src/assets/img/chocolate2.svg" alt="chocolate">
                    <p>rosa</p>
                    <p>350$</p>
                </div>
                <div class="bloco">
                    <img src="/src/assets/img/chocolate3.svg" alt="chocolate">
                    <p>rosa</p>
                    <p>350$</p>
                </div>
                <div class="bloco">
                    <img src="/src/assets/img/chocolate2.svg" alt="chocolate">
                    <p>rosa</p>
                    <p>350$</p>
                </div>
                <div class="bloco">
                    <img src="/src/assets/img/chocolate3.svg" alt="chocolate">
                    <p>rosa</p>
                    <p>350$</p>
                </div>
            </div>
            <div class="fileira">
                <div class="bloco">
                    <img src="/src/assets/img/chocolate1.svg" alt="chocolate">
                    <p>rosa</p>
                    <p>350$</p>
                </div>
                <div class="bloco">
                    <img src="/src/assets/img/chocolate2.svg" alt="chocolate">
                    <p>rosa</p>
                    <p>350$</p>
                </div>
                <div class="bloco">
                    <img src="/src/assets/img/chocolate3.svg" alt="chocolate">
                    <p>rosa</p>
                    <p>350$</p>
                </div>
                <div class="bloco">
                    <img src="/src/assets/img/chocolate1.svg" alt="chocolate">
                    <p>rosa</p>
                    <p>350$</p>
                </div>
            </div>
        </section>

        <img src="src/assets/img/banner2.png" alt="banner">

        <section id="cestas" class="produtos">
            <div class="fileira">
                <div class="bloco">
                    <img src="/src/assets/img/cesta1.svg" alt="cesta">
                    <p>cesta</p>
                    <p>350$</p>
                </div>
                <div class="bloco">
                    <img src="/src/assets/img/cesta2.svg" alt="cesta">
                    <p>cesta</p>
                    <p>350$</p>
                </div>
                <div class="bloco">
                    <img src="/src/assets/img/cesta3.svg" alt="cesta">
                    <p>cesta</p>
                    <p>350$</p>
                </div>
                <div class="bloco">
                    <img src="/src/assets/img/cesta4.svg" alt="cesta">
                    <p>cesta</p>
                    <p>350$</p>
                </div>
            </div>
            <div class="fileira">
                <div class="bloco">
                    <img src="/src/assets/img/cesta3.svg" alt="cesta">
                    <p>cesta</p>
                    <p>350$</p>
                </div>
                <div class="bloco">
                    <img src="/src/assets/img/cesta4.svg" alt="cesta">
                    <p>cesta</p>
                    <p>350$</p>
                </div>
                <div class="bloco">
                    <img src="/src/assets/img/cesta1.svg" alt="cesta">
                    <p>cesta</p>
                    <p>350$</p>
                </div>
                <div class="bloco">
                    <img src="/src/assets/img/cesta2.svg" alt="cesta">
                    <p>cesta</p>
                    <p>350$</p>
                </div>
            </div>
            <div class="fileira">
                <div class="bloco">
                    <img src="/src/assets/img/cesta2.svg" alt="cesta">
                    <p>cesta</p>
                    <p>350$</p>
                </div>
                <div class="bloco">
                    <img src="/src/assets/img/cesta3.svg" alt="cesta">
                    <p>cesta</p>
                    <p>350$</p>
                </div>
                <div class="bloco">
                    <img src="/src/assets/img/cesta4.svg" alt="cesta">
                    <p>cesta</p>
                    <p>350$</p>
                </div>
                <div class="bloco">
                    <img src="/src/assets/img/cesta1.svg" alt="cesta">
                    <p>cesta</p>
                    <p>350$</p>
                </div>
            </div>
        </section>
    </div>
</main>

