<app-header></app-header>
<body>

    <div class="page-container">
        <header class="header">
            <div class="logo">
                  <a routerLink=""><img src="assets/img/logo.svg" alt="logo floricultura"></a>
            </div>
            <div class="search-bar">
                <i class="ph ph-magnifying-glass"></i>
                <input type="text" placeholder="Buscar...">
            </div>
            <div class="header-actions">
                <a href="#" class="action-button" aria-label="Lista de Desejos">
                    <i class="ph ph-heart"></i>
                </a>
                <a href="#" class="action-button" aria-label="Minha Conta">
                    <i class="ph ph-user"></i>
                </a>
                <a href="#" class="action-button" aria-label="Carrinho de Compras">
                    <i class="ph ph-shopping-cart"></i>
                </a>
            </div>
        </header>

        <main class="main-content">
            <aside class="sidebar">
                <p>Olá Usuário</p>
            </aside>
            <section class="content-area">
                <div class="favorites-message">
                    <p>Você ainda não tem Favoritos</p>
                </div>
                <div class="content-placeholder">
                    </div>
            </section>
        </main>
    </div>

</body>

