<body>



	<div class="conteiner">



		<div class="telaCentral">


			<a routerLink=""><img src="assets/img/logo.svg" alt="logo floricultura"></a>



			<input type="search" id="txtBuscarProd" placeholder="Buscar produto">

			<button type="button" href="cadastro.html" routerLink="/cadastro">Cadastrar</button>




			<div class="produto">
				<div class="tabela">
					<table>
						<tr>
							<th>Nome</th>							
							<th>Tipo</th>
							<th>Preço</th>
							<th>Quantidade</th>
							<th>Editar </th>
							<th>Excluir</th>
						</tr>
						<tr>
						<td>Buquê rosas e lírios</td>
						<td>flores/Buquê</td>
						<td>R$80,00</td>
						<td>2</td>
						<td><img src="assets/img/icone-editar.png" alt="editar"></td>
						<td><img src="assets/img/icone-excluir.png" alt="excluir"></td>
						</tr>
						<tr>
						<td>Buquê rosas e lírios</td>
						<td>flores/Buquê</td>
						<td>R$80,00</td>
						<td>2</td>
						<td><img src="assets/img/icone-editar.png" alt="editar"></td>
						<td><img src="/src/assets/img/icone-excluir.png" alt="excluir"></td>
						</tr>
						<tr>
						<td>Buquê rosas e lírios</td>
						<td>flores/Buquê</td>
						<td>R$80,00</td>
						<td>2</td>
						<td><img src="assets/img/icone-editar.png" alt="editar"></td>
						<td><img src="assets/img/icone-excluir.png" alt="excluir"></td>
						</tr>
						<tr>
						<td>Buquê rosas e lírios</td>
						<td>flores/Buquê</td>
						<td>R$80,00</td>
						<td>2</td>
						<td><img src="assets/img/icone-editar.png" alt="editar"></td>
						<td><img src="assets/img/icone-excluir.png" alt="excluir"></td>
						</tr>
					</table>
				</div>





			</div>
		</div>
	</div>






</body>
