<body>



	<div class="conteiner">



		<div class="telaCentral">


			<img src="src/assets/img/logo.svg" alt="logo floricultura">



			<input type="search" id="txtBuscarProd" placeholder="Buscar produto">

			<a href="/src/components/tela-cadastro/cadastro.html"><button type="submit" href="cadastro.html">Cadastrar</button></a>




			<div class="produto">
				<div class="tabela">
					<table>
						<tr>
							<th>Nome</th>							
							<th>Tipo</th>
							<th>Preço</th>
							<th>Quantidade</th>
							<th>Editar </th>
							<th>Excluir</th>
						</tr>
						<tr>
						<td>Buquê rosas e lírios</td>
						<td>flores/Buquê</td>
						<td>R$80,00</td>
						<td>2</td>
						<td><img src="/src/assets/img/icone-editar.png" alt="editar"></td>
						<td><img src="/src/assets/img/icone-excluir.png" alt="excluir"></td>
						</tr>
						<tr>
						<td>Buquê rosas e lírios</td>
						<td>flores/Buquê</td>
						<td>R$80,00</td>
						<td>2</td>
						<td><img src="/src/assets/img/icone-editar.png" alt="editar"></td>
						<td><img src="/src/assets/img/icone-excluir.png" alt="excluir"></td>
						</tr>
						<tr>
						<td>Buquê rosas e lírios</td>
						<td>flores/Buquê</td>
						<td>R$80,00</td>
						<td>2</td>
						<td><img src="/src/assets/img/icone-editar.png" alt="editar"></td>
						<td><img src="/src/assets/img/icone-excluir.png" alt="excluir"></td>
						</tr>
						<tr>
						<td>Buquê rosas e lírios</td>
						<td>flores/Buquê</td>
						<td>R$80,00</td>
						<td>2</td>
						<td><img src="/src/assets/img/icone-editar.png" alt="editar"></td>
						<td><img src="/src/assets/img/icone-excluir.png" alt="excluir"></td>
						</tr>
					</table>
				</div>





			</div>
		</div>
	</div>






</body>
