<body>



	<div class="conteiner">



		<div class="telaCentral">


			<a routerLink=""><img src="assets/img/logo.svg" alt="logo floricultura"></a>



			<input type="search" id="txtBuscarProd" placeholder="Buscar produto">

			<button type="button" href="cadastro.html" routerLink="/cadastro">Cadastrar</button>




			<div class="produto">
				<div class="tabela">
					<table>
						<tr>
							<th>Nome</th>							
							<th>Tipo</th>
							<th>Preço</th>
							<th>Quantidade</th>
							<th>Gerenciar</th>
						</tr>
						<tr>
						<td>Buquê rosas e lírios</td>
						<td>flores/Buquê</td>
						<td>R$80,00</td>
						<td>2</td>
						<td>
							<button class="btneditar">Editar</button>
							<button class="btnexcluir">Excluir</button>
						</td>
						<tr>
						<td>Buquê rosas e lírios</td>
						<td>flores/Buquê</td>
						<td>R$80,00</td>
						<td>2</td>
						<td>
							<button class="btneditar">Editar</button>
							<button class="btnexcluir">Excluir</button>
						</td>														
					</table>
				</div>





			</div>
		</div>
	</div>






</body>
